<div class="container my-5 d-flex justify-content-center align-items-center">
  <form action="/todos" method="POST" class="d-flex align-items-center">

    <input type="text" class="form-control me-5" name="name" placeholder="name"
      style="border-color: blue;">
    <button type="submit" class="btn btn-secondary me-2">Create</button>
    <a href="/" class="btn btn-success" role="button">Back</a>

  </form>
</div>